---
export type Props = {
  classId?: string;
};

const { classId } = Astro.props;
---

<main
  class:list={[
    "pb-10 px-6 relative w-full h-[80vh] flex flex-col justify-center items-center",
    classId,
  ]}
>
  <slot />
</main>
